<link rel="stylesheet" href="stylesheets/tattoo.css">
<h2>Tattoo</h2>
<div class="unica">
    <p><a href="chest02">
            << Anterior</a> | <a href="chest04">Siguiente >></a></p>
</div>
<center><img class="unica" src="images/tattoo/chest/chest3.jpg" alt="pluma"></center>