<link rel="stylesheet" href="stylesheets/tattoo.css">
<h2>Tattoo</h2>
<div class="unica">
    <p><a href="feet03">
            << Anterior</a>
    </p>
</div>
<center><img class="unica" src="images/tattoo/feet/feet4.jpg" alt="pluma"></center>