<link rel="stylesheet" href="stylesheets/tattoo.css">
<h2>Tattoo</h2>
<div class="unica">
    <p><a href="feet02">
            << Anterior</a> | <a href="feet04">Siguiente >></a></p>
</div>
<center><img class="unica" src="images/tattoo/feet/feet3.jpg" alt="pluma"></center>