<link rel="stylesheet" href="stylesheets/literatura.css">
<div class="contenido">
    <h2>Literatura</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptatum, recusandae ad officiis distinctio
        fugit pariatur harum, possimus architecto, hic ducimus nemo quibusdam dignissimos illo. Pariatur, quam culpa.
        Reiciendis, voluptatibus? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem fuga facilis corrupti
        consectetur esse? Quod est unde maiores ad consectetur magni cum quisquam, illo vel nulla. Labore animi
        laboriosam error?</p>
    <h2 class="titulo">Libros</h2>
    <div class="libro">
        <img src="images/libros/llamada.jpg" alt="la llamada de cthuhlu">
    </div>
    <div class="descripcion">
        <h2>La llamada de Cthulhu</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A rem suscipit, ratione quibusdam dolores, vero
            explicabo earum, nobis maiores sed omnis laborum quia! Dicta ex voluptas quo quis corporis eveniet.
        </p>
    </div>
    <div class="libro">
        <img src="images/libros/ley.jpg" alt="el libro de la ley">
    </div>
    <div class="descripcion">
        <h2>El libro de la ley</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nemo pariatur beatae cupiditate, accusantium
            totam soluta modi minus porro odit officiis, veritatis dolorum numquam? Soluta nobis quia sequi natus esse?
        </p>
    </div>
    <div class="libro">
        <img src="images/libros/vermis.jpg" alt="vermis misteriis">
    </div>
    <div class="descripcion">
        <h2>Vermis Misteriis</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit sit blanditiis quibusdam facilis, delectus
            pariatur veritatis nobis id, voluptatibus asperiores natus porro vero neque animi nam inventore laboriosam
            atque quia?</p>
    </div>
</div>