<link rel="stylesheet" href="stylesheets/look.css">
<h2>Look</h2>
<p>Da click para acceder a alguna sección.</p>
<div class="ambos">
    <div class="left">
        <a href="/moda"><img src="images/moda.jpg" alt="moda" class="moda"></a>
        <p><a href="/moda">Moda</a></p>
    </div>
    <div class="rigth">
        <a href="/maquillaje"><img src="images/maquillaje.jpg" alt="maquillaje"
                class="maquillaje"></a>
        <p><a href="/maquillaje">Maquillaje</a></p>
    </div>
</div>