<link rel="stylesheet" href="stylesheets/maquillaje.css">
<div class="centro">
    <h2>Maquillaje</h2>
    <p><a href="maquillaje11">
            << Anterior</a> | <a href="maquillaje13">Siguiente >></a></p>
    <div>
        <div>
            <img src="images/look/maquillaje/maquillaje12.jpg" alt="maquillaje">
        </div>
    </div>
</div>