<link rel="stylesheet" href="stylesheets/maquillaje.css">
<h2>Maquillaje</h2>
<p>Haz click sobre una imagen para verla en tamaño real.</p>
<div class="maquillajes">
    <div class="maquillaje">
        <a href="maquillaje01"><img src="images/look/maquillaje/maquillaje01.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje02"><img src="images/look/maquillaje/maquillaje02.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje03"><img src="images/look/maquillaje/maquillaje03.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje04"><img src="images/look/maquillaje/maquillaje04.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje05"><img src="images/look/maquillaje/maquillaje05.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje06"><img src="images/look/maquillaje/maquillaje06.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje07"><img src="images/look/maquillaje/maquillaje07.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje08"><img src="images/look/maquillaje/maquillaje08.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje09"><img src="images/look/maquillaje/maquillaje09.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje10"><img src="images/look/maquillaje/maquillaje10.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje11"><img src="images/look/maquillaje/maquillaje11.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje12"><img src="images/look/maquillaje/maquillaje12.jpg" alt="maquillaje"></a>
    </div>
    <div class="maquillaje">
        <a href="maquillaje13"><img src="images/look/maquillaje/maquillaje13.jpg" alt="maquillaje"></a>
    </div>
</div>