<link rel="stylesheet" href="stylesheets/moda.css">
<div class="centro">
    <h2>Moda</h2>
    <p><a href="moda07">
            << Anterior</a> | <a href="moda09">Siguiente >></a></p>
    <div>
        <div>
            <img src="images/look/moda/moda08.jpg" alt="blusa escarola">
        </div>
    </div>
</div>