<link rel="stylesheet" href="stylesheets/moda.css">
<div class="centro">
    <h2>Moda</h2>
    <p><a href="moda04">
            << Anterior</a> | <a href="moda06">Siguiente >></a></p>
    <div>
        <div>
            <img src="images/look/moda/moda05.jpg" alt="vestido plumas">
        </div>
    </div>
</div>