<link rel="stylesheet" href="stylesheets/moda.css">
<div class="centro">
    <h2>Moda</h2>
    <p><a href="moda02">
            << Anterior</a> | <a href="moda04">Siguiente >></a></p>
    <div>
        <div>
            <img src="images/look/moda/moda03.jpg" alt="botines">
        </div>
    </div>
</div>