<link rel="stylesheet" href="stylesheets/moda.css">
<div class="centro">
    <h2>Moda</h2>
    <p><a href="moda11">
            << Anterior</a> | <a href="moda13">Siguiente >></a></p>
    <div>
        <div>
            <img src="images/look/moda/moda12.jpg" alt="vestido cuello encaje">
        </div>
    </div>
</div>