<link rel="stylesheet" href="stylesheets/moda.css">
<h2>Moda</h2>
<p>Haz click sobre una imagen para verla en tamaño real.</p>
<div class="modas">
    <div class="moda">
        <a href="moda01"><img src="/images/look/moda/moda01.jpg" alt="pantalon vestido">
    </div></a>
    <div class="moda">
        <a href="moda02"><img src="images/look/moda/moda02.jpg" alt="vestido"></a>
    </div>
    <div class="moda">
        <a href="moda03"><img src="images/look/moda/moda03.jpg" alt="botines"></a>
    </div>
    <div class="moda">
        <a href="moda04"><img src="images/look/moda/moda04.jpg" alt="guante"></a>
    </div>
    <div class="moda">
        <a href="moda05"><img src="images/look/moda/moda05.jpg" alt="vestido plumas"></a>
    </div>
    <div class="moda">
        <a href="moda06"><img src="images/look/moda/moda06.jpg" alt="ajuar rojo"></a>
    </div>
    <div class="moda">
        <a href="moda07"><img src="images/look/moda/moda07.jpg" alt="vestido rojo"></a>
    </div>
    <div class="moda">
        <a href="moda08"><img src="images/look/moda/moda08.jpg" alt="blusa escarola"></a>
    </div>
    <div class="moda">
        <a href="moda09"><img src="images/look/moda/moda09.jpg" alt="blusa"></a>
    </div>
    <div class="moda">
        <a href="moda10"><img src="images/look/moda/moda10.jpg" alt="vestido encaje"></a>
    </div>
    <div class="moda">
        <a href="moda11"><img src="images/look/moda/moda11.jpg" alt="vestido corto"></a>
    </div>
    <div class="moda">
        <a href="moda12"><img src="images/look/moda/moda12.jpg" alt="vestido cuello encaje"></a>
    </div>
    <div class="moda">
        <a href="moda13"><img src="images/look/moda/moda13.jpg" alt="ajuar flores"></a>
    </div>
    <div class="moda">
        <a href="moda14"><img src="images/look/moda/moda14.jpg" alt="corset encaje"></a>
    </div>
</div>
</main>