<link rel="stylesheet" href="stylesheets/moda.css">
<div class="centro">
    <h2>Moda</h2>
    <p><a href="moda08">
            << Anterior</a> | <a href="moda10">Siguiente >></a></p>
    <div>
        <div>
            <img src="images/look/moda/moda09.jpg" alt="blusa">
        </div>
    </div>
</div>