<link rel="stylesheet" href="stylesheets/musica.css">
<h2>Música</h2>
<h2 id="top">Canciones de la temporada</h2>
<div class="intros">
    <div class="intro">
        <img src="images/musica/intro/blutengel.jpg" alt="bluengel">
    </div>
    <div class="intro">
        <img src="images/musica/intro/dresden-dolls.jpg" alt="desdendolls">
    </div>
    <div class="intro">
        <img src="images/musica/intro/lacrimosa.jpg" alt="lacrimosa">
    </div>
    <div class="intro">
        <img src="images/musica/intro/nightwish.jpg" alt="nightwish">
    </div>
    <div class="intro">
        <img src="images/musica/intro/nostramorte.gif" alt="nostramorte">
    </div>
    <div class="intro">
        <img src="images/musica/intro/tiger_lilies.jpg" alt="tiger lilies">
    </div>
</div>
<div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem vero dolorum voluptate impedit, ullam rerum saepe
        quo soluta adipisci ea inventore. Libero dolore accusamus nostrum ea. Fugit placeat voluptates ut. Lorem ipsum
        dolor sit amet consectetur, adipisicing elit. Eaque, laboriosam architecto exercitationem sint optio deleniti
        saepe dolores modi corrupti est? Accusantium aliquid ab doloremque autem cum dolor sint necessitatibus ut?
    </p>
</div>
<div class="contenido">
    <h2>Canciones</h2>
    {{#each panel}}
    <div class="panel">
        <div class="artista">
            <h3 class="h3a">Artista: </h3>
            <h3 class="h3b"> {{artista}}</h3>
        </div>
        <div class="album">
            <h4 class="h3a">Álbum: </h4>
            <h4 class="h3b">{{album}}</h4>
        </div>
        <div class="cancion">
        <h4 class="h3a">Cancion: </h4>
        <h4 class="h3b">{{cancion}}</h4>
        </div>
    </div>
    <hr />
    {{/each}}
</div>
<div class="intros">
    <div class="intro">
        <img src="images/musica/outtro/gathering.jpg" alt="gathering">
    </div>
    <div class="intro">
        <img src="images/musica/outtro/human-drama.jpg" alt="human drama">
    </div>
    <div class="intro">
        <img src="images/musica/outtro/mono.jpg" alt="mono inc">
    </div>
    <div class="intro">
        <img src="images/musica/outtro/siouxsie.jpg" alt="siouxsie">
    </div>
    <div class="intro">
        <img src="images/musica/outtro/sopor.jpg" alt="sopor aeternus">
    </div>
    <div class="intro">
        <img src="images/musica/outtro/xandria.jpg" alt="xandria">
    </div>
</div>