<link rel="stylesheet" href="stylesheets/tattoo.css">
<h2>Tattoo</h2>
<div class="unica">
    <p><a href="neck02"> Siguiente >></a></p>
</div>
<center><img class="unica" src="images/tattoo/neck/neck1.jpg" alt="pluma"></center>