<link rel="stylesheet" href="stylesheets/tattoo.css">
<h2>Tattoo</h2>
<div class="unica">
    <p><a href="neck02">
            << Anterior</a> | <a href="neck04">Siguiente >></a></p>
</div>
<center><img class="unica" src="images/tattoo/neck/neck3.jpg" alt="pluma"></center>