<link rel="stylesheet" href="stylesheets/tattoo.css">
<h2>Tattoo</h2>
<p>Haz click sobre las imagenes para verlas en tamaño real</p>
<div class="tattoo">
    <div class="neck">
        <h2>Cuello</h2>
        <a href="neck01"><img src="images/tattoo/neck/neck1.jpg" alt="pluma"></a>
        <a href="neck02"><img src="images/tattoo/neck/neck2.jpg" alt="arete"></a>
        <a href="neck03"><img src="images/tattoo/neck/neck3.jpg" alt="mariposas"></a>
        <a href="neck04"><img src="images/tattoo/neck/neck4.jpg" alt="planetas cuello"></a>
    </div>
    <div class="chest">
        <h2>Hombros</h2>
        <a href="chest01"><img src="images/tattoo/chest/chest1.jpg" alt="laurel"></a>
        <a href="chest02"><img src="images/tattoo/chest/chest2.jpg" alt="luna negra"></a>
        <a href="chest03"><img src="images/tattoo/chest/chest3.jpg" alt="planetas hombro"></a>
        <a href="chest04"><img src="images/tattoo/chest/chest4.jpg" alt="laurel y flor"></a>
    </div>
    <div class="feet">
        <h2>Pies</h2>
        <a href="feet01"><img src="images/tattoo/feet/feet1.jpg" alt="paisaje"></a>
        <a href="feet02"><img src="images/tattoo/feet/feet2.jpg" alt="ave"></a>
        <a href="feet03"><img src="images/tattoo/feet/feet3.jpg" alt="cadena pluma"></a>
        <a href="feet04"><img src="images/tattoo/feet/feet4.jpg" alt="colgante"></a>
    </div>
</div>