<link rel="stylesheet" href="stylesheets/toon.css">
<h2>Toon</h2>
<p>Haz click sobre las imagenes para hacer una compra.</p>
<div class="toon">
    <a href="https://www.normaeditorial.com/ficha/comic-americano/lenore-2/lenore-1-collejas" target="_blank"><img
            src="images/comics/lenore.jpeg" alt="lenore"></a>
    <a href="https://eljovenlovecraft.blogspot.com/" target="_blank"><img src="images/comics/lovecraft1.jpg"
            alt="el joven lovecraft"></a>
    <a href="https://belzebubs.com/" target="_blank"><img src="images/comics/pantheon_website.png" alt="belzebubs"></a>
    <a href="https://visuales.net/publicaciones/goth-ghost-girl/#:~:text=por%20John%20Schlim%20y%20Sergio,era%20la%20influencia%20del%20demonio."
        target="_blank"><img src="images/comics/GG1-red-600x911.png" alt="goth gost girl"></a>
    <a href="https://www.amazon.com.mx/dp/1608867897/ref=as_li_tf_il?ie=UTF8&linkCode=gs2&creativeASIN=1608867897&tag=booriomexic0b-20&creative=399349&camp=217145"
        target="_blank"><img src="images/comics/gian_days.jpg" alt=""></a>
</div>