<div class="container" style="margin-top: 80px; margin-bottom: 50px;">
    <div class="row">
        <h2 class="text-center">Agregar una canción</h2>
        <form action="" method="post">
            <div class="mb-3">
                <label for="artista" class="form-label">Artista</label>
                <input type="text" class="form-control" id="artista" name="artista">
            </div>
            <div class="mb-3">
                <label for="album" class="form-label">Álbum</label>
                <input type="text" class="form-control" id="album" name="album">
            </div>
            <div class="mb-3">
                <label for="cancion" class="form-label">Canción</label>
                <input type="text" class="form-control" id="cancion" name="cancion">
            </div>
            <div class="botones">
            <button type="submit" class="btn btn-primary" id="grabar">Grabar</button>
            <a href="/admin/panel" class="btn btn-success"><i class="fas fa-angle-left"></i></a>
            <a href="/musica" class="btn btn-info" target="_blank"><i class="far fa-eye"></i></a>
            <a href="" class="btn btn-danger">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </form>
    </div>
</div>