#envlogin{
    margin-left: 35%;
}

.mb-3{
    color: #f5c0ec;
    margin-left: 35%;
    width: 30%;
}

.perror{
    color: #f00;
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
}

#cab{
    margin-top: 25px;
    margin-bottom: 15px;
}

#usuario{
    color: #ff0;
    font-size: 40px;
}
#nuevo{
    text-align: right;
}

#nuevo a{
    margin-top: 3%;
    margin-bottom: 3%;
}

.col-7{
    text-align: center;
}

.col-7 p{
    margin-top: 4%;
    color: #9932cc;
    font-size: 35px;
}

.table-title{
    background-color: #9932cc;
    font-size: 25px;
}

.table-content{
    color: #f0b5a1;
    font-size: 20px;
    background-color: #000;
}

.base{
    margin-bottom: 50px;
}

/* #grabar{
    margin-left: 35%;
} */

.botones{
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content:space-between;
}